name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.2.0]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 16.2
        uses: actions/setup-node@v2
        with:
          node-version: 16.2.0
      - name: Install Dependencies
        working-directory: ./src/main/resources/static/js
        run: npm ci
      - name: Run Frontend Tests
        working-directory: ./src/main/resources/static/js
        run: npm test